body{
    background:radial-gradient(rgb(5, 227, 235),rgb(223, 6, 212));
   
}

.div-calculator{
   background:radial-gradient(rgb(221, 212, 206),rgb(140, 245, 248),rgb(237, 9, 245));
   height: auto;
   width:260px;
   text-align: center; 
   margin:auto 33%;
   margin-top: 6%;
}
#display-answer{
    width: 244px;
    height: 40px;
    border-radius: 5px;
    text-align: right;
    font-size: 25px;
    background-color: rgb(201, 192, 192);
}
#clear{
    width: 125px;
}
.style{
    font-size: 25px;
    padding: 10px;
    width: 60px;
    border-radius: 10px;
    in
}
.style:hover{
    background-color: rgb(241, 14, 14);
}


