body{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTekEkp3gJ413fFwKShXc6J0EcjjAbrCvE7bw&usqp=CAU);
    background-repeat: no-repeat;
    /* text-align: center; */
    background-size: cover;
    
   
}

.div-calculator{
   background:pink;
   height: 435px;
   width:325px;
   margin: 32px auto;   
   
   
   border:3px solid rgb(94, 4, 4);
   border-radius: 5px;
}
#display-answer{
    margin: 4px;
    width: 302px;
    height: 62px;
    border-radius: 5px;
    text-align: right;
    font-size: 25px;
    background-color: rgb(201, 192, 192);
    box-shadow: 2px 2px 2px black;
}
#clear-btn{
    width: 150px;
}
.btn-style{
    font-size: 26px;
    padding: 10px;
    width: 75px;
    border-radius: 11px;
    height: 67px;
    box-shadow: 2px 2px 2px black;
    
}
.btn-style:hover{
    background-color: rgb(241, 14, 14);
}

