body{
    background:radial-gradient(rgb(5, 227, 235),rgb(223, 6, 212));
   
}

.div-calculator{
   background:radial-gradient(rgb(221, 212, 206),rgb(140, 245, 248),rgb(237, 9, 245));
   height: auto;
   width:300px;
   text-align: center; 
   margin:2px;
   margin-top: 6%;
   border:3px solid rgb(94, 4, 4);
   border-radius: 5px;
}
#display-answer{
    margin: 4px;
    width: 280px;
    height: 50px;
    border-radius: 5px;
    text-align: right;
    font-size: 25px;
    background-color: rgb(201, 192, 192);
}
#clear{
    width: 145px;
}
.style{
    font-size: 25px;
    padding: 10px;
    width: 70px;
    border-radius: 10px;
    
}
.style:hover{
    background-color: rgb(241, 14, 14);
}

